.pagination {
  display: flex;
  align-items: center;
  justify-content: center
}

.headPanel {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
}

.pokemonArea {
  margin-left: 5%;
}

.list-group {
  margin-left: 2%;
  width: 90%;
}

@media (max-width: 600px) {
  .list-group-horizontal-sm {
    margin-left: 20%;
    width: 50%;
  }
}